<% provide(:title, "Help") %>

<h1><%= t('static_pages.help.title')%></h1>

<p>
  <%= t('static_pages.help.content')%>
  <a href="https://www.railstutorial.org/help">Rails Tutorial Help page</a>.
</p>